<header>
  <ul>
  <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']">About AI</a></li>
  <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Responses</a></li>
  <li id="logo"><a href="#">OM</a></li>
  <li><a [routerLink]="['/create']" [routerLinkActive]="['actived']">Create</a></li>
  <li><a [routerLink]="['/galery']" [routerLinkActive]="['actived']">Galery</a></li>
</ul>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Portal AI
</footer>